@use "../design/colors";
@use "../typography";
@use "variables";
@use 'sass:color';

@forward "../mixins";

@mixin content() {
    position: relative;
    width: 100%;
    height: 100%;
}

@mixin headline() {
    font-weight: typography.$font-weight-regular;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0px;
    color: color.adjust(colors.$font-light, $alpha: -0.2);
    letter-spacing: 0.2px;
}

@mixin subline() {
    font-weight: typography.$font-weight-extralight;
    font-size: 13px;
    line-height: normal;
    color: color.adjust(colors.$font-light, $alpha: -0.2);
    letter-spacing: 0.2px;
    margin-top: variables.$subline-margin-top;
    margin-bottom: 0px;
}
