*                       text=auto

*.cs                    text eol=lf
*.sh                    text eol=lf
*.crt                   text eol=lf
*.key                   text eol=lf
suite-libraries.txt     text eol=lf
