@-webkit-keyframes valid-badge-frames {
    from {
        -webkit-transform: scale(0.1);
        opacity: 0;
        transform: scale(0.1)
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes valid-badge-frames {
    from {
        -webkit-transform: scale(0.1);
        opacity: 0;
        transform: scale(0.1)
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1)
    }
}
