@use "../../../src/Sdk.Client/Styles/nav-tiles/variables";
@use "../../../src/Sdk.Client/Styles/colors-staged";
@use "sass:color";

$spacing: 8px;

.example {
    display: inline-grid;
    grid-template-columns: min-content auto;
    grid-column-gap: $spacing;
    align-items: start;

    .foo-nav-tile-container {
        position: relative;
        overflow: hidden;

        width: variables.$container-width-no-span;
        height: variables.$container-width-no-span;

        padding: variables.$link-padding;

        background-color: color.adjust(colors-staged.$color-content, $alpha: -0.3);
    }

    .options {
        display: grid;
        grid-column-gap: $spacing;
        grid-row-gap: $spacing;
        grid-template-columns: min-content max-content;
        align-items: center;
    }
}
