$top-bar-height: 48px;
$top-bar-border-bottom-width: 2px;
$main-content-margin-left-right: 24px;

$flyout-border-width: 1px;

$toolbar-padding: 10px 10px 8px 15px;

$content-padding-top: 10px;
$content-padding-right: 10px;
$content-padding-bottom: 10px;
$content-padding-left: 10px;
$content-padding: $content-padding-top $content-padding-right $content-padding-bottom $content-padding-left;

$tile-width: 180px;
$tile-height: 180px;
$tile-margin: 8px; // makes 16px when two tiles are displayed next to each other
$tile-icon-size: 64px;
