@use "../../Styles/design/colors";

@use "../../Styles/settings/mixins";
@use "../../Styles/settings/settings-group/variables" as settings-group;
@use "../../Styles/animations/mixins" as animations;

.settings-stepper {
    grid-column: 1 / 3;

    padding-top: 8px;
    padding-right: 122px + settings-group.$padding;

    @include mixins.background-layer();

    .content {
        @include mixins.bring-to-front();

        display: grid;
        grid-auto-flow: column;
        column-gap: 8px;
        justify-content: end;

        button {
            padding: 0;
            margin: 0;
            line-height: 0;

            color: inherit;
            @include animations.color();

            // interaction
            &:disabled {
                opacity: 0.4;
            }

            &:hover {
                &:not(:disabled) {
                    color: colors.$color-accent-hover;
                }
            }

            &:focus {
                outline: none;
                color: colors.$color-accent;
            }
        }
    }

    &:last-child {
        .content {
            padding-bottom: 8px;
        }
    }
}

.settings-group--collapsed .settings-stepper {
    padding-top: 0px;

    .content {
        @include mixins.collapsed-styles();
    }
}
