@use "../../Styles/animations/variables" as animations;
@use "../../Styles/colors-staged";
@use "../../Styles/design/colors";

@use "sass:color";

@keyframes drop-incoming-bg-fade-in {
  from {
      background-color: transparent;
  }
  to {
      background-color: color.change(colors.$font-light, $alpha: 0.03);
  }
}

.settings-field-file-upload {
    width: 100%;

    position: relative;

    .drop-incoming-bg {
        position: absolute;
        left: -8px;
        top: -8px;
        right: -8px;
        bottom: -8px;

        background-color: color.change(colors.$font-light, $alpha: 0.03);
        border-radius: 3px;

        animation-name: drop-incoming-bg-fade-in;
        animation-duration: animations.$duration;
        animation-direction: normal;
        animation-timing-function: animations.$effect;
        animation-fill-mode: forwards;
    }

    ::deep .file-drop-zone--grid {
        $spacer: 16px;

        display: grid;
        grid-template-areas:
            "filename upload-progress upload-button"
            "child-content child-content child-content";
        grid-template-columns: 1fr auto max-content;
        align-items: center;

        .filename {
            grid-area: filename;

            margin-right: $spacer;

            overflow: hidden;
            text-overflow: ellipsis;
        }

        .upload-progress {
            grid-area: upload-progress;

            display: flex; // required to get icon positioned correctly

            margin-right: $spacer;

            &.success {
                color: colors-staged.$color-add;
            }

            &.error {
                color: colors.$error;
            }
        }

        .upload-button {
            grid-area: upload-button;
        }

        .input-file {
            display: none;
        }

        .child-content {
            grid-area: child-content;
        }
    }
}
