@use "../../Styles/settings/mixins";
@use "../../Styles/settings/settings-group/variables" as settings-group;
@use "../../Styles/colors";

.settings-information {
    grid-column: 1 / 3;

    padding-top: 16px;
    padding-left: settings-group.$padding + 32px;
    padding-right: 122px + settings-group.$padding;

    font-size: 12px;
    letter-spacing: 0.4px;

    @include mixins.background-layer();

    .content {
        @include mixins.bring-to-front();
        @include mixins.no-margin-top-bottom();
    }

    &:last-child {
        .content {
            padding-bottom: 8px;
        }
    }
}

.settings-group--collapsed .settings-information {
    padding-top: 0px;

    .content {
        @include mixins.collapsed-styles();
    }
}

