[Migrations/**/*.cs]
dotnet_diagnostic.IDE0005.severity = none # Using directive is unnecessary
dotnet_diagnostic.IDE0022.severity = none # Use expression body for method
dotnet_diagnostic.IDE0161.severity = none # Use file-scoped namespace

dotnet_diagnostic.RCS1021.severity = none # Convert lambda expression body to expression body
dotnet_diagnostic.RCS1205.severity = none # Order named arguments according to the order of parameters
